$font-base: 16px;
$font-stack: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
$heading-h1: 5.2rem;
$heading-h2: 3.5rem;
$heading-h3: 2.5rem;
$heading-h4: 2rem;
$heading-h5: 1.5rem;
$heading-h6: 1rem;
